.DS_Store
*/.DS_Store
*/__pycache__/*
aggregated_features/*
Experiment_logs
saved_models
TEST_RESULTS
models"
models/D1
readings
train_val/big_file_test.pkl
train_val/big_file_train.pkl
action-net/pickles
